@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	@apply bg-neutral-800
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	.filter-white {
		filter: invert(1);
	}

	.filter-darken {
		filter: brightness(0.8);
	}

	.fg-shine {
		@apply relative text-transparent bg-clip-text animate-shine;
		@apply bg-gradient-to-r from-violet-500 via-red-500 to-violet-500;
		background-size: 200% 100%;
	}

	.bg-shine {
		@apply relative bg-gradient-to-r from-violet-500 via-red-500 to-violet-500 animate-shine;
		background-size: 200% 100%;
	}

	@keyframes shine {
		0% {
			background-position: 500%;
		}

		100% {
			background-position: -500%;
		}
	}
}